body {
    background-color: #876c99;
}

h1 {
    padding-top: 15%;
    text-align: center
}

form {
    color: blue;
    text-align: center
}

form ol {
    color: blue;
    text-align: center
}

form ol li {
    color: blue;
    text-align: center
}

form ol li u {
    color: blue;
    text-align: center
}

form ol input {
    color: blue;
    text-align: center
}

form input {
    color: blue;
    text-align: center
}